@{
    ViewBag.Title = "Race";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Race</h2>

<a href="#" id="sort-asc">Sort Asc</a>

<a href="#" id="sort-desc">Sort desc</a>

<div id="parse-data"></div>


 